.jeu{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #282c34;

}
.jeu img{
    position: relative;
    margin: auto;
    height: 100%;
    padding-bottom: 6em;
    /*width: 100vw;*/
    object-fit: cover;
    box-sizing: border-box;

}

.overlay{
    top: 0;
    /*position: absolute;*/
    /*height: 100vh;*/
    width: 100vw;
    /*background-color: green;*/
}
.bottomBar{
    bottom: 0;
    position: absolute;


}
.context{
    display: flex;flex-direction: column;justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);;
    height: 6em;
    width: 100vw;
}


.context p {
    color: aliceblue;
    font-size: larger;
    text-align: center;
    width: 100%;

}
.choice{
    display:flex;
    padding-block: 2em;
    justify-content: space-evenly;
    height: 4em;
    width: 100vw;
    background-color: aliceblue;
}


.boutton{
    width: 25%;
    border: 0.2rem solid #fff;
    border-radius: 1rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #ff0000,
    0 0 0.8rem #ff0000,
    0 0 2.8rem #ff0000,
    inset 0 0 1.3rem #ff0000;
}