
html{
    background-color: var(--main_bg_color);
    margin:0px;
    width: 100%;
    height: 5000px;
    --main_bg_color : darkslategray;
    --header_color : gray;
}

header{
    background-color: var(--header_color);
    height: 8vh;
    display: flex;
    justify-content: center;
}

img{
    height:7vh;
}

.game{
    background-color: darkgrey;
    height: 93vh;
    display: flex;
    flex-direction: column;
}
.game_desc{
    width: 65%;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    text-align: center;
    color:white;

}
.launch_game{
    margin-top: 80px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 90px;
    border-radius: 90px;
    font-size: 35px;
    border: 0px;
}

.info{
    background-color: greenyellow;
    height: 1500px;
    margin-top: 0px;
}


.info_list{
    display: flex;
    flex-direction: row;
    margin:0px 65px;
    justify-content: center;
    text-align: center;
    list-style: none;
    margin-top: 50px;
}


.info_list>li{
    margin: 0px 35px;
    background-color: gray;
    padding: 35px;
    border-radius: 30px;
}



*{
    margin:0;
}



/*
CARROUSEL
*/

label {
    background: #444;
    color: #fff;
    transition: transform 400ms ease-out;
    display: inline-block;
    min-height: 100%;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
    text-align: center;
    line-height: 100vh;
}

form {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    white-space: nowrap;
}
input {
    position: absolute;
}

.keys {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    color: #fff;
    text-align: center;
    transition: all 300ms linear;
    opacity: 0;
}

input:focus ~ .keys {
    opacity: 0.8;
}

input:nth-of-type(1):checked ~ label:nth-of-type(1),
input:nth-of-type(2):checked ~ label:nth-of-type(2),
input:nth-of-type(3):checked ~ label:nth-of-type(3),
input:nth-of-type(4):checked ~ label:nth-of-type(4){
    z-index: 0;
}

input:nth-of-type(1):checked ~ label {
    transform: translate3d(0, 0, 0);
}

input:nth-of-type(2):checked ~ label {
    transform: translate3d(-100%, 0, 0);
}

input:nth-of-type(3):checked ~ label {
    transform: translate3d(-200%, 0, 0);
}

input:nth-of-type(4):checked ~ label {
    transform: translate3d(-300%, 0, 0);
}

label {
    background: #444;
    background-size: cover;
    font-size: 3rem;
}

label[for="diamonds"],
label[for="hearts"] {
    background: #cc0000;
}

label:before,
label:after {
    color: white;
    display: block;
    background: rgba(255,255,255,0.2);
    position: absolute;
    padding: 1rem;
    font-size: 3rem;
    height: 10rem;
    vertical-align: middle;
    line-height: 10rem;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    cursor: pointer;
}

label:before {
    content: "\276D";
    right: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

label:after {
    content: "\276C";
    left: 100%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

/*page de contact*/
.slider-container {
    background: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .slider {
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin: 20px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
  }
  
  .slides {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .slide:nth-of-type(even) {
    background-color: rgb(250, 246, 212);
  }
  
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 400px;
    scroll-snap-align: center;
    margin-right: 0px;
    box-sizing: border-box;
    background: lightpink;
    transform-origin: center center;
    transform: scale(1);
  }
  
  .slide__text {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
  }
  
  .slide a {
    background: none;
    border: none;
  }
  
  a.slide__prev,
  .slider::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
  }
  
  a.slide__next,
  .slider::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
  }
  
  .slider::before,
  .slider::after,
  .slide__prev,
  .slide__next {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    border: solid black;
    border-width: 0 4px 4px 0;
    padding: 3px;
    box-sizing: border-box;
  }
  
  .slider::before,
  .slider::after {
    content: "";
    z-index: 1;
    background: none;
    pointer-events: none;
  }
  
  .slider__nav {
    box-sizing: border-box;
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
  }
  
  .slider__navlink {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
    margin: 0 10px 0 10px;
  }


